services:
  redis:
    image: redis:7
    container_name: mostratize_redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    ports:
      - "6379:6379"
    restart: always

volumes:
  redis_data:
